* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  height: 100vh;
}

.calculator {
  background-color: #f5f5f7;
  width: 500px;
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: right;
  white-space: nowrap; /* Шинэ мөр рүү оролгүй */
  text-overflow: ellipsis;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.button {
  border-radius: 9999px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  font-size: 28px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.button:active {
  transform: scale(0.95);
}

/* Useless hidden button to keep grid consistent */

/* Main 4×4 buttons */
.button1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: end;
  padding-left: 20px;
}

/* Footer (0 button row) */
.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  border-radius: 9999px;
  padding-left: 20px;
  padding-top: 10px;
}

.footer .button {
  width: 100%;
  height: 90px;
}
.output1 {
  width: 100%;
  height: 160px;
  background: #ffffff;
  border-radius: 20px;
  font-size: 52px;
  display: flex;
  justify-content: flex-end; /* баруун тал руу шахна */
  align-items: flex-end; /* доод тал руу тавина */
  padding-right: 30px; /* = товчлууруудтай шулуун */
  padding-left: 30px; /* AC товчтай шулуун болгоно */
  box-sizing: border-box;
  overflow: hidden;
  /* white-space: nowrap; */
}
